/* src/components/MealFilter.css */
.meal-filter {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #343683;
}

.category-button {
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #9ec6f5;
  border-radius: 20px;
  background-color: #fdfbfb;
  cursor: pointer;
}

.category-button:hover {
  background-color: #093466;
}

/* Tablet view (max-width: 1024px) */
@media (max-width: 1024px) {
  .meal-filter {
    flex-direction: column;
    align-items: center;
  }

  .category-button {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
  }
}

/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .meal-filter {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .category-button {
    width: 100%;
    max-width: 200px;
    margin: 5px 0;
    text-align: center;
    padding: 8px;
  }
}
